html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

.wrap {
  position: absolute;
  direction: rtl;
}

input {
  display: none;
}

svg {
  fill:white;
  stroke: black;
  width: 100px;
  height: 100px;
}

input:hover ~ label svg {
  fill: greenyellow;
}

input:checked ~ label svg {
  fill: green;
}  
